.recipientdashboard {
  /* display: flex; */
}

.recipientdashboard__information {
  display: flex;
}
.recipientdashboard__information__userinfo {
  align-self: center;
  padding-top: 20px;
  width: 100vw;
}

.recipientdashboard__information__contactinfo {
  width: 50%;
}

.recipientdashboard_contactbutton {
    place-self: center,center;
}

.donordashboard {
  /* display: flex; */
}

.donordashboard__information {
  display: flex;
}
.donordashboard__information__userinfo {
  align-self: center;
  padding-top: 20px;
  width: 100vw;
}

.donordashboard__information__contactinfo {
  width: 50%;
}

.donordashboard_contactbutton {
    place-self: center,center;
}
